@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}
.nav-link:hover{
  text-decoration: underline;
  opacity: 0.75;
  color: #f00;
}
.figure:hover img{
    -webkit-transform:scale(0.8);
    transform: scale(1.2);
    overflow: hidden;
    box-shadow: 2px 2px #f50505;
}
.fa-whatsapp{
  height: 3em;
}
