*{
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: arial,sans-serif;
	text-align: justify;
}

body{
	background-image: url("../resources/img/background.jpg");
	background-size: 100%;
	background-position: inherit;
	background-repeat: no-repeat;

}

/*Aplicacion de estilos a la barra de menú*/
.logo img{
	width: 15%;
}
.nav-link{
	color: rgba(0, 0, 0, 0.8);
	opacity: 1;
	font-weight: 400;
}

.nav-link:hover{
	text-decoration: underline;
	opacity: 0.75;
	color: #f00;
}

.description-role p{
	font-weight: 300;
	font-size: 1.1rem;
}

.fa-facebook,.fa-instagram,.fa-whatsapp,.fa-envelope,.fa-location-dot{
	height: 1.5em;
	padding-right: 1rem;
} 
.what{
	background: #BDA76A;
	text-decoration: none;
	color: #f5f5f5f5;
}
